* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #3c486b;
  color: #fff;
  font-family: system-ui;
}

.crud {
  width: 80%;
  margin: auto;
}

.head {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}

/*---------INPUT--------------*/

input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  background-color: #2b2730;
  margin: 4px 0;
  border-radius: 8px;
  padding: 4px;
  color: #fff;
}

input:focus {
  background-color: #000;
  transform: scale(1, 1);
}

.price input {
  width: 19%;
}

small {
  font-size: 15px;
}
#total {
  background-color: #0f3460;
  padding: 4px 5px;
  border-radius: 8px;
  width: 100%;
  height: 30px;
}

#total::before {
  content: "Total :";
  padding: 5px;
}

button {
  width: 100%;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: #0f3460;
  color: #fff;
  border-radius: 8px;
  transition: 0.5;
}

#deleteall {
  margin: 10px 0px;
}
button:hover {
  background-color: #1363df;
  letter-spacing: 2px;
}

/*---------OUTPUT--------------*/

.btnSearch {
  display: flex;
  justify-content: space-between;
}

.btnSearch button {
  width: 45%;
}

table {
  width: 100%;
  text-align: center;
  margin: 10px 0px;
}

table th {
  text-transform: uppercase;
  padding: 5px;
}

tbody {
  background-color: #2b2730;
}

/*---------@Media--------------*/

@media only screen and (max-width: 750px) {
  body {
    font-size: 60%;
    display: block;
  }
  .price input {
    width: 15%;
  }
  table tr th {
    width: 50%;
    height: 50%;
    border: 1px solid white;
  }

  tbody {
    background-color: #2b2730;
    width: 50%;
    height: 50%;
    border: 1px solid white;
    font-size: 50%;
  }

  tbody button {
    font-size: 50%;
  }
}
